# Import required libraries :

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import data :

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_x=pd.read_csv("/content/drive/MyDrive/tox21/tox21_features.csv")
df_y=pd.read_csv("/content/drive/MyDrive/tox21/tox21_labels.csv")

clean_df_x=df_x.copy()
clean_df_y=df_y.copy()

In [ ]:
clean_df_x.head()

   ('RDKit2DNormalized_calculated', <class 'bool'>)  ...  ('qed', <class 'numpy.float64'>)
0                                              True  ...                          0.975867
1                                              True  ...                          0.738638
2                                              True  ...                          0.615332
3                                              True  ...                          0.878233
4                                              True  ...                          0.193474

[5 rows x 201 columns]

In [ ]:
clean_df_y.head()

                                              smiles  NR-AR  ...  SR-MMP  SR-p53
0                       CCOc1ccc2nc(S(N)(=O)=O)sc2c1    0.0  ...     0.0     0.0
1                          CCN1C(=O)NC(c2ccccc2)C1=O    0.0  ...     0.0     0.0
2  CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...    NaN  ...     NaN     NaN
3                    CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C    0.0  ...     0.0     0.0
4                          CC(O)(P(=O)(O)O)P(=O)(O)O    0.0  ...     0.0     0.0

[5 rows x 13 columns]

# Cleaning the data :

### 1.a) Dropping Smiles column in the labels dataset

In [ ]:
clean_df_y=clean_df_y.drop('smiles', axis=1)
clean_df_y.head()

   NR-AR  NR-AR-LBD  NR-AhR  NR-Aromatase  ...  SR-ATAD5  SR-HSE  SR-MMP  SR-p53
0    0.0        0.0     1.0           NaN  ...       0.0     0.0     0.0     0.0
1    0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
2    NaN        NaN     NaN           NaN  ...       NaN     0.0     NaN     NaN
3    0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
4    0.0        0.0     0.0           0.0  ...       0.0     0.0     0.0     0.0

[5 rows x 12 columns]

In [ ]:
clean_df_y.shape

(7831, 12)

### 1.b) Renaming features dataset's columns

In [ ]:
clean_df_x.columns

Index(['('RDKit2DNormalized_calculated', <class 'bool'>)',
       '('BalabanJ', <class 'numpy.float64'>)',
       '('BertzCT', <class 'numpy.float64'>)',
       '('Chi0', <class 'numpy.float64'>)',
       '('Chi0n', <class 'numpy.float64'>)',
       '('Chi0v', <class 'numpy.float64'>)',
       '('Chi1', <class 'numpy.float64'>)',
       '('Chi1n', <class 'numpy.float64'>)',
       '('Chi1v', <class 'numpy.float64'>)',
       '('Chi2n', <class 'numpy.float64'>)',
       ...
       '('fr_sulfonamd', <class 'numpy.float64'>)',
       '('fr_sulfone', <class 'numpy.float64'>)',
       '('fr_term_acetylene', <class 'numpy.float64'>)',
       '('fr_tetrazole', <class 'numpy.float64'>)',
       '('fr_thiazole', <class 'numpy.float64'>)',
       '('fr_thiocyan', <class 'numpy.float64'>)',
       '('fr_thiophene', <class 'numpy.float64'>)',
       '('fr_unbrch_alkane', <class 'numpy.float64'>)',
       '('fr_urea', <class 'numpy.float64'>)',
       '('qed', <class 'numpy.float64'>)'],
      dtype='object', length=201)

In [ ]:
clean_df_x.columns.shape

(201,)

In [ ]:
clean_df_x.columns=list(range(1,202))

In [ ]:
clean_df_x.head()

    1         2         3    ...           199       200       201
0  True  0.934799  0.177418  ...  4.703598e-08  0.166633  0.975867
1  True  0.875932  0.047173  ...  4.703598e-08  1.000000  0.738638
2  True  0.409082  0.072880  ...  4.703598e-08  0.166633  0.615332
3  True  0.967576  0.059713  ...  4.703598e-08  0.166633  0.878233
4  True  0.998591  0.009412  ...  4.703598e-08  0.166633  0.193474

[5 rows x 201 columns]

### 1.c) Dropping columns with same values for all the observations

because these variables will not add any intuition to our predictive model

In [ ]:
drp=clean_df_x.columns[clean_df_x.nunique()<2]
drp

Int64Index([1, 35, 91, 104, 106, 109, 110, 112, 113, 153, 188], dtype='int64')

In [ ]:
clean_df_x=clean_df_x.drop(drp,  axis=1)
clean_df_x.head()

        2         3         4    ...           199       200       201
0  0.934799  0.177418  0.046765  ...  4.703598e-08  0.166633  0.975867
1  0.875932  0.047173  0.029397  ...  4.703598e-08  1.000000  0.738638
2  0.409082  0.072880  0.153152  ...  4.703598e-08  0.166633  0.615332
3  0.967576  0.059713  0.178132  ...  4.703598e-08  0.166633  0.878233
4  0.998591  0.009412  0.013743  ...  4.703598e-08  0.166633  0.193474

[5 rows x 190 columns]

In [ ]:
clean_df_x.shape

(7831, 190)

### 1.d) Null values of features dataset

In [ ]:
na_feature=pd.DataFrame({"column_name":list(clean_df_x.columns),"number_of_NaN":list(clean_df_x.isna().sum(axis=0))})
na_feature = na_feature.sort_values(by=['number_of_NaN'], ascending=False)

In [ ]:
na_feature.head(8)

     column_name  number_of_NaN
38            41            101
44            47            101
42            45            101
40            43            101
133          143              0
124          134              0
125          135              0
126          136              0

In [ ]:
#REMOVING NA rows corresponding to column 41 to see what happens
not_na=clean_df_x[41].notna()
clean_df_x=clean_df_x[not_na]

In [ ]:
na_feature=pd.DataFrame({"column_name":list(clean_df_x.columns),"number_of_NaN":list(clean_df_x.isna().sum(axis=0))})
na_feature = na_feature.sort_values(by=['number_of_NaN'], ascending=False)
na_feature.head(8)

     column_name  number_of_NaN
0              2              0
130          140              0
121          131              0
122          132              0
123          133              0
124          134              0
125          135              0
126          136              0

In [ ]:
clean_df_x.isna().sum().sum()

0

Fortunately, by removing NA rows corresponding to column 41, we omitted NA values of  other columns as well.

### 1.e) Null values of labels dataset

In [ ]:
na_labels=pd.DataFrame({"column_name":list(clean_df_y.columns),"number_of_NaN":list(clean_df_y.isna().sum(axis=0))})
na_labels = na_labels.sort_values(by=['number_of_NaN'], ascending=False)

In [ ]:
na_labels.head(12)

      column_name  number_of_NaN
10         SR-MMP           2021
3    NR-Aromatase           2010
7          SR-ARE           1999
4           NR-ER           1638
6   NR-PPAR-gamma           1381
9          SR-HSE           1364
2          NR-AhR           1282
1       NR-AR-LBD           1073
11         SR-p53           1057
5       NR-ER-LBD            876
8        SR-ATAD5            759
0           NR-AR            566

Let's see what happens in labels dataset if we omit the same rows we deleted from features dataset.

In [ ]:
clean_df_y=clean_df_y[not_na]

In [ ]:
na_labels=pd.DataFrame({"column_name":list(clean_df_y.columns),"number_of_NaN":list(clean_df_y.isna().sum(axis=0))})
na_labels = na_labels.sort_values(by=['number_of_NaN'], ascending=False)
na_labels.head(12)

      column_name  number_of_NaN
10         SR-MMP           1995
3    NR-Aromatase           1969
7          SR-ARE           1965
4           NR-ER           1602
6   NR-PPAR-gamma           1357
9          SR-HSE           1342
2          NR-AhR           1255
1       NR-AR-LBD           1049
11         SR-p53           1033
5       NR-ER-LBD            865
8        SR-ATAD5            739
0           NR-AR            564

In [ ]:
pd.DataFrame(clean_df_y.corr())

                  NR-AR  NR-AR-LBD    NR-AhR  ...    SR-HSE    SR-MMP    SR-p53
NR-AR          1.000000   0.577732  0.015684  ... -0.018859  0.023241  0.020500
NR-AR-LBD      0.577732   1.000000  0.008901  ...  0.112441  0.096911  0.219764
NR-AhR         0.015684   0.008901  1.000000  ...  0.120991  0.349703  0.174560
NR-Aromatase   0.030555   0.119520  0.198135  ...  0.203990  0.335795  0.253890
NR-ER          0.229179   0.225565  0.227136  ...  0.074454  0.261976  0.132508
NR-ER-LBD      0.203890   0.295194  0.100324  ...  0.155364  0.268324  0.202263
NR-PPAR-gamma -0.011285   0.196491  0.050877  ...  0.229328  0.158471  0.306654
SR-ARE         0.071765   0.140972  0.306932  ...  0.258711  0.433312  0.339399
SR-ATAD5       0.057631   0.168680  0.274868  ...  0.164084  0.211167  0.313127
SR-HSE        -0.018859   0.112441  0.120991  ...  1.000000  0.263636  0.363618
SR-MMP         0.023241   0.096911  0.349703  ...  0.263636  1.000000  0.352121
SR-p53         0.020500   0.219764  0.174560  ...  0.363618  0.352121  1.000000

[12 rows x 12 columns]

In [ ]:
clean_df_y[clean_df_y["NR-AR"].isna()]['NR-AR-LBD'].isna().sum()

493

In [ ]:
clean_df_y

      NR-AR  NR-AR-LBD  NR-AhR  NR-Aromatase  ...  SR-ATAD5  SR-HSE  SR-MMP  SR-p53
0       0.0        0.0     1.0           NaN  ...       0.0     0.0     0.0     0.0
1       0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
2       NaN        NaN     NaN           NaN  ...       NaN     0.0     NaN     NaN
3       0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
4       0.0        0.0     0.0           0.0  ...       0.0     0.0     0.0     0.0
...     ...        ...     ...           ...  ...       ...     ...     ...     ...
7826    NaN        NaN     NaN           NaN  ...       NaN     0.0     NaN     NaN
7827    1.0        1.0     0.0           0.0  ...       0.0     0.0     NaN     0.0
7828    1.0        1.0     0.0           0.0  ...       0.0     0.0     0.0     0.0
7829    1.0        1.0     0.0           NaN  ...       0.0     0.0     1.0     1.0
7830    0.0        0.0     NaN           0.0  ...       0.0     0.0     1.0     0.0

[7730 rows x 12 columns]

In [ ]:
idx=clean_df_y[clean_df_y["NR-AR"].isna()][clean_df_y[clean_df_y["NR-AR"].isna()]['NR-AR-LBD'].notna()].index
idx

Int64Index([  48,   90,  401, 1108, 1158, 1649, 1713, 1923, 1992, 2010, 2191,
            2453, 2503, 2669, 2942, 2956, 3093, 3429, 3519, 3588, 3735, 4096,
            4370, 4465, 4504, 4507, 4511, 4557, 4600, 4628, 4696, 4733, 4734,
            4873, 4875, 4965, 5253, 5365, 5376, 5387, 5388, 5550, 5653, 5756,
            5798, 5821, 5985, 6055, 6076, 6293, 6309, 6385, 6449, 6470, 6605,
            6813, 6881, 6886, 6995, 7112, 7176, 7228, 7372, 7385, 7431, 7581,
            7594, 7702, 7779, 7793, 7796],
           dtype='int64')

In [ ]:
clean_df_y.loc[idx, "NR-AR"]=clean_df_y.loc[idx]["NR-AR-LBD"]

In [ ]:
na_labels=pd.DataFrame({"column_name":list(clean_df_y.columns),"number_of_NaN":list(clean_df_y.isna().sum(axis=0))})
na_labels = na_labels.sort_values(by=['number_of_NaN'], ascending=False)
na_labels.head(12)

      column_name  number_of_NaN
10         SR-MMP           1995
3    NR-Aromatase           1969
7          SR-ARE           1965
4           NR-ER           1602
6   NR-PPAR-gamma           1357
9          SR-HSE           1342
2          NR-AhR           1255
1       NR-AR-LBD           1049
11         SR-p53           1033
5       NR-ER-LBD            865
8        SR-ATAD5            739
0           NR-AR            493

In [ ]:
clean_df_y.shape

(7730, 12)

In [ ]:
not_na_y=clean_df_y['NR-AR'].notna()
clean_df_y=clean_df_y[not_na_y]

In [ ]:
clean_df_y

      NR-AR  NR-AR-LBD  NR-AhR  NR-Aromatase  ...  SR-ATAD5  SR-HSE  SR-MMP  SR-p53
0       0.0        0.0     1.0           NaN  ...       0.0     0.0     0.0     0.0
1       0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
3       0.0        0.0     0.0           0.0  ...       0.0     NaN     0.0     0.0
4       0.0        0.0     0.0           0.0  ...       0.0     0.0     0.0     0.0
5       0.0        0.0     0.0           0.0  ...       0.0     0.0     0.0     0.0
...     ...        ...     ...           ...  ...       ...     ...     ...     ...
7825    0.0        0.0     0.0           0.0  ...       0.0     0.0     NaN     0.0
7827    1.0        1.0     0.0           0.0  ...       0.0     0.0     NaN     0.0
7828    1.0        1.0     0.0           0.0  ...       0.0     0.0     0.0     0.0
7829    1.0        1.0     0.0           NaN  ...       0.0     0.0     1.0     1.0
7830    0.0        0.0     NaN           0.0  ...       0.0     0.0     1.0     0.0

[7237 rows x 12 columns]

In [ ]:
y=clean_df_y['NR-AR']
y.shape

(7237,)

In [ ]:
clean_df_y['NR-AR'].isna().sum()

0

### 1.f) Matching labels and features dataset

In [ ]:
clean_df_x=clean_df_x[not_na_y]

In [ ]:
clean_df_x.shape

(7237, 190)

____________

__________

Let's take a final look at our features' range

In [ ]:
clean_df_x.describe()

               2            3    ...          200          201
count  7237.000000  7237.000000  ...  7237.000000  7237.000000
mean      0.787885     0.166118  ...     0.189088     0.454290
std       0.281241     0.242325  ...     0.134950     0.254090
min       0.000020     0.000577  ...     0.166633     0.001331
25%       0.724467     0.007619  ...     0.166633     0.260200
50%       0.921382     0.045213  ...     0.166633     0.426815
75%       0.975284     0.224929  ...     0.166633     0.644776
max       0.999740     1.000000  ...     1.000000     0.998881

[8 rows x 190 columns]

### Saving datasets

In [ ]:
clean_df_x.to_csv("/content/drive/MyDrive/tox21/tox21_x.csv",index=False)

In [ ]:
y.to_csv("/content/drive/MyDrive/tox21/tox21_y.csv",index=False)